<footer>
    <div class="logo-container"></div>
    <div class="grid-container">
        <div>
            <ul>
                <li class="list-title">About</li>
                <li>About us</li>
                <li>Tours</li>
                <li>Community</li>
                <li>Q&A</li>
                <li>Report an issue</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="list-title">Get in touch</li>
                <li>Location</li>
                <li>Email</li>
                <li>Support</li>
                <li>customer service</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="list-title"> Legal</li>
                <li>Terms & Conditions</li>
                <li>Privacy Policy</li>
                <li>Cookies</li>
                <li>Security</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="list-title">Social Media</li>
                <li class="class">Follow us on social media to never miss our latest news and discount offers</li>
                <li class="social-links">
                    <i class="lni lni-facebook-oval"></i>
                    <i class="lni lni-twitter-filled"></i>
                    <i class="lni lni-instagram-filled"></i>
                    <i class="lni lni-youtube"></i>
                </li>
            </ul>
        </div>
    </div>
</footer>