<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Styles/Main.min.css">
    <title>Norway Tours</title>
</head>
<body>
    <!-- --- Header Section --- -->
    <header id="header">
        <div id="logo">
            <img src="" alt="">
        </div>
        <div id="text-box">
            <h1 class="heading-primary">
                <span class="HP-main">outdoors</span>
                <span class="HP-secondary">is where life happens</span>
            </h1>
            <a href="#">Discove our tours</a>
        </div>
    </header>
    <!-- data accesing templet -->
    <div> <%= Fjiorn.date %> </div> 
</body>
</html>