<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>

<body>
    <header class="header">
        <%- include('navigation') %>
        <h3>light chase</h3>
        
    </header>

    <%- include('footer') %>




</body>

</html>