<form action="" id="log-in-form" class="form-hidden">
    <div class="form--input">
        <label for="email">Email Adress</label>
        <input type="email" name="email" required placeholder="Email Adress">
    </div>
    <div class="form--input">
        <label for="password">Password</label>
        <input type="password" name="password" required placeholder="Password">
        <a href="#">Forgot Your Username or Password?</a>
    </div>

    <div class="form--check">
        <input type="checkbox" name="remember" >
        <span>Keep me signed-in</span>
    </div>
    <div class="form--buttons">
        <a href="" id="pri-log-in-btn">log-in</a>
        <a href="" id="sec-sign-up-btn">sign-up</a>
    </div>
</form>