<nav id="nav">
    <div id="logo">
        Norway-Tours
    </div>
    <ul id="nav-list">
        <li class="nav-list-item">Tours</li>
        <li class="nav-list-item">Services</li>
        <li class="nav-list-item">Contact</li>
    </ul>
    <div class="buttons">
       <!-- if the user is signed in render his profile image with a drop down and some icons -->
       <!-- else render the two buttons -->
        <a href="#section-c" class="btn">Sign Up</a>
        <a href="#section-c" class="sec-log-in-btn">log in</a>
    </div>
</nav>