<nav id="nav">
    <div id="logo">
        <img src="/Assets/Asset-1.png" alt="">
    </div>
    <ul id="nav-list">
        <li class="nav-list-item">Tours</li>
        <li class="nav-list-item">Services</li>
        <li class="nav-list-item">Contact</li>

        <div class="buttons">
            <!-- if the user is signed in render his profile image with a drop down and some icons -->
            <!-- else render the two buttons -->
            <a href="#section-c" class="btn">Sign Up</a>
            <a href="#section-c" class="sec-log-in-btn">log in</a>
        </div>
    </ul>
    <div class="icons">
        <i class="lni lni-menu" id="menue"></i>
        <i class="lni lni-close" id="close"></i>
    </div>
</nav>