<div class="grid-container">
    <div class="review">
        <div class="profile">
            <div class="user-img"></div>
            <div class="user-info">
                <a href="#" class="user-name">Toni Kross</a>
                <a href="#" class="user-tour">Light Chase</a>
            </div>
            <div class="user-rating">
                <span>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                </span>
            </div>
        </div>
        <div class="review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quas esse ut. Exercitationem, deleniti ea.</div>
        <div class="review-date">08/12/2021</div>
    </div>
    <div class="review">
        <div class="profile">
            <div class="user-img"></div>
            <div class="user-info">
                <a href="#" class="user-name">Toni Kross</a>
                <a href="#" class="user-tour">Light Chase</a>
            </div>
            <div class="user-rating">
                <span>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                </span>
            </div>
        </div>
        <div class="review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quas esse ut. Exercitationem, deleniti ea.</div>
        <div class="review-date">08/12/2021</div>
    </div>
    <div class="review">
        <div class="profile">
            <div class="user-img"></div>
            <div class="user-info">
                <a href="#" class="user-name">Toni Kross</a>
                <a href="#" class="user-tour">Light Chase</a>
            </div>
            <div class="user-rating">
                <span>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star"></i>
                </span>
            </div>
        </div>
        <div class="review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quas esse ut. Exercitationem, deleniti ea.</div>
        <div class="review-date">08/12/2021</div>
    </div>
</div>