<form action="/tours" method="post" id="sign-up-form">
    <div class="form--input">
        <label for="f-name">First Name</label>
        <input type="text" name="f-name" required placeholder="First Name">
    </div>
    <div class="form--input">
        <label for="l-name">Last Name</label>
        <input type="text" name="l-name" required placeholder="Last Name">
    </div>
    <div class="form--input">
        <label for="email">Email Adress</label>
        <input type="email" name="email" required placeholder="Email Adress">
    </div>
    <div class="form--input">
        <label for="password">Password</label>
        <input type="password" name="password" required placeholder="Password">
    </div>
    <div class="form--input">
        <label for="c-password">Confirm Password</label>
        <input type="password" name="c-password" required placeholder="Confirm Your Password">
    </div>
    <div class="form--buttons">
        <a href="/tours" id="pri-sign-up-btn">Sign-up</a>
        <a href="" id="sec-log-in-btn">log-in</a>
    </div>
</form>