@media (max-width: 75em) {
    // 1200 px
    //fix features section and modify review section
    .section-z {
        .stats {
            @include grid(3);
            :last-child {
                grid-column: 2/3;
            }
        }
    }

    #section-a {
        #grid-container {
            #img-box {
                img {
                    max-width: 65%;
                    &:first-of-type {
                        left: 0;
                        top: -16rem;
                    }
                    &:last-of-type {
                        top: -0rem;
                        left: 17rem;
                    }
                }
            }
        }
    }

    #section-b {
        .grid-container {
            .tour-card__button {
                a {
                    &:link,
                    &:visited {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }

    #section-c {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 0;
        }
    }
    .section-d {
        .grid-container {
            .review {
                width: 48%;
            }
        }
    }

    .section-f {
        .grid-container {
            @include grid(2);
            .img-container {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media (max-width: 62.5em) {
    // 1000px
    html {
        font-size: 56.25%;
    }
    .header {
        #nav {
            justify-content: space-between;
            position: relative;
            #nav-list {
                width: 1rem;
                opacity: 0;
                pointer-events: none;
                visibility: hidden;
                flex-direction: column;
                position: absolute;
                font-size: 3.6rem;
                .nav-list-item {
                    transform: translateY(33rem);
                }
                .buttons {
                    a {
                        &:first-of-type{
                            background: $textColor;
                            color: $light-gray;
                        }
                        &:link,
                        :visited {
                            padding: 2.4rem 4.8rem;
                            font-size: 2.4rem;
                        }
                    }
                }
            }
            .icons {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 5rem;
                width: 5rem;
                cursor: pointer;
                .lni {
                    font-size: 4.2rem;
                    &:last-of-type {
                        display: none;
                    }
                }
            }
        }
    }
    .section-z {
        .stats {
            @include grid(2);
        }
    }
    #section-a {
        #grid-container {
            #img-box {
                img {
                    max-width: 65%;
                    &:first-of-type {
                        left: 0;
                        top: -16rem;
                    }
                    &:last-of-type {
                        top: -5rem;
                        left: 17rem;
                    }
                }
            }
        }
    }
    #section-b {
        .grid-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .tour-card {
                width: 40%;
            }
        }
    }
    .section-d {
        .grid-container {
            .review {
                width: 75%;
            }
        }
    }
    footer {
        .grid-container {
            @include grid(2);
        }
    }
}
// media at 925
@media (max-width: 57.8em) {
    #section-a {
        #grid-container {
            #text-box {
                grid-column: 1/3;
            }
            #img-box {
                grid-column: 1/3;
                display: flex;
                justify-content: space-between;
                &:hover {
                    img:not(:hover) {
                        transform: none;
                    }
                }
                img {
                    position: initial;
                    max-width: 47%;
                    &:hover {
                        transform: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
    #section-c {
        .grid-container {
            height: fit-content;
            grid-template-columns: none;
            grid-template-rows: 1fr 1.6fr;
            row-gap: 0;
            .form-box {
                padding: 4rem 6.4rem;
            }
        }
    }
}

// media att 700px
@media (max-width: 43.75em) {
    html {
        body {
            section {
                padding: 9.6rem 8%;
            }
        }
    }
    .header {
        .header-text {
            .heading-primary {
                .HP-secondary {
                    letter-spacing: 1.2rem;
                }
            }
        }
    }
    #section-b {
        padding: 9.6rem 5%;
        .grid-container {
            .tour-card {
                width: 45%;
            }
        }
    }
}

// media at 600px
@media (max-width: 37.5em) {
    #section-b {
        .grid-container {
            @include grid(1);
            justify-items: center;
            .tour-card {
                width: 75%;
            }
        }
    }
    .section-d {
        .grid-container {
            .review {
                width: 85%;
            }
        }
    }

    // tour page
    .header {
        .text-box {
            h1 {
                font-size: 4.4rem;
            }
            div {
                p {
                    font-size: 2rem;
                }
            }
        }
    }
}
//550px
@media (max-width: 33.75em) {
    .header {
        #nav {
            #nav-list {
                font-size: 3rem;
                .nav-list-item {
                    transform: translateY(28rem);
                }
                .buttons {
                    a {
                        display: inline-block;
                        &:link,
                        :visited {
                            padding: 2.2rem 4.4rem;
                            font-size: 2.4rem;
                        }
                    }
                }
            }
        }
    }
    #section-a{
        #grid-container{
            #text-box{
                p{
                    font-size: 2rem;
                }
            }
        }
    }
    #section-c{
        .grid-container{
            .img-box{
                p{
                    font-size: 2rem;
                }
            }
            .form-box{
                form{
                    .form--input{
                        input{
                            padding: 1.2rem 1.6rem;
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
    .section-z {
        padding-left: 5%;
        padding-right: 5%;
        .stats {
            grid-gap: 3.2rem;
        }
    }
    .section-d {
        h3 {
            font-size: 3rem;
        }
    }
    .section-f {
        h3 {
            line-height: 1.4;
        }
    }
}

// media at 460px
@media (max-width: 28.75em) {
    html {
        body {
            padding: 0rem;
            section,
            .section-d {
                padding: 8rem 6%;
            }
            footer {
                padding: 8rem 10%;
            }
        }
    }
    .header {
        #nav {
            padding-top: 2rem;
            #nav-list {
                font-size: 3rem;
                .nav-list-item {
                    transform: translateY(22rem);
                }
                .buttons {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2.4rem;
                    a {
                        &:first-of-type {
                            margin: 0px;
                        }
                        &:link,
                        :visited {
                            padding: 2rem 4rem;
                            font-size: 2rem;
                            margin: 0px 10%;
                        }
                    }
                }
            }
        }
    }
    .header {
        .header-text {
            .heading-primary {
                .HP-main {
                    font-size: 4.4rem;
                    margin-bottom: 4rem;
                }
                .HP-secondary {
                    font-size: 2rem;
                    letter-spacing: 1rem;
                }
            }
        }
    }
    #section-a .sec-heading,
    #section-b .sec-heading,
    .section-d .sec-heading {
        font-size: 3rem;
    }
    #section-a {
        #grid-container {
            #img-box {
                flex-direction: column;
                row-gap: 3.2rem;
                width: fit-content;
                img {
                    min-width: 100%;
                }
            }
        }
    }
    #section-b {
        .grid-container {
            @include grid(1);
            justify-items: center;
            .tour-card {
                width: 90%;
            }
        }
    }
    #section-c {
        padding-right: 0;
        padding-left: 0;
        .grid-container {
            grid-template-rows: 1fr 1.35fr;
            .form-box {
                padding: 3.2rem;
                .form--buttons {
                    flex-wrap: wrap;
                    button{
                        width: 80%;
                    }
                }
            }
        }
    }
    .section-d {
        .grid-container {
            .review {
                width: 100%;
            }
        }
    }

    // tour page
    .header {
        .text-box {
            h1 {
                font-size: 3.6rem;
            }
            div {
                p {
                    font-size: 1.8rem;
                    line-height: 1.6;
                }
            }
        }
    }

    .section-z {
        .stats {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            div {
                .lable {
                    margin-bottom: 3.2rem;
                }
                p {
                    font-size: 1.8rem;
                }
            }
        }
    }
    .section-d {
        .grid-container {
            .review {
                .review-text {
                    line-height: 1.6;
                    font-size: 1.8rem;
                }
            }
        }
    }
    .section-d h3,
    .section-f h3 {
        font-size: 2.2rem;
    }
    .section-f {
        .cta-box {
            .btns {
                a {
                    padding: 1.4rem 2.8rem;
                }
            }
        }
    }
}

//375px
@media (max-width: 23.4em) {
    #section-a .sec-heading,
    #section-b .sec-heading,
    .section-d .sec-heading {
        font-size: 2.4rem;
    }
    #section-c {
        .grid-container {
            grid-template-rows: 1fr 1.2fr;
            .img-box {
                h3 {
                    font-size: 2rem;
                }
            }
        }
    }
}
