@mixin box-shadow() {
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.8);
}
@mixin heading($font-size, $font-wei, $let-space) {
    font-size: $font-size;
    font-weight: $font-wei;
    letter-spacing: $let-space;
}

@mixin button($btn-bg-color, $btn-text-color, $font-size) {
    &:link,
    &:visited {
        display: inline-block;
        font-size: $font-size;
        font-weight: 600;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        border-radius: 20rem;
        background: $btn-bg-color;
        color: $btn-text-color;
    }
    &:hover {
        transform: translateY(-0.3rem);
        @include box-shadow();
    }
    &:active {
        transform: translateY(-0.1rem);
        @include box-shadow();
    }
}

@mixin grid($columns) {
    display: grid;
    align-items: center;
    grid-template-columns: repeat($columns, 1fr);
    column-gap: 4rem;
    row-gap: 4rem;

    @media (max-width: 75em) {
        grid-gap: 4.4rem;
    }
    @media (max-width: 27.2em) {
        grid-template-columns: 1fr;
    }
}
@mixin gradiant {
    background-image: $G-gradiant;
    -webkit-background-clip: text;
    color: transparent;
}
@mixin sec-heading($font-size, $marg-bottom) {
    text-transform: uppercase;
    font-size: $font-size;
    font-weight: 700;
    margin-bottom: $marg-bottom;
}
@mixin primary-headig($font-size, $marg-bottom) {
    @include sec-heading($font-size, $marg-bottom);
    @include gradiant();
    text-align: center;
    transition: all 300ms ease-out;
    backface-visibility: hidden;
    &:hover {
        transform: scale(1.08);
    }
}
@mixin form-input() {
    font-size: 1.4rem;
    font-family: inherit;
    margin: 1.4rem 0px;
    padding: 0.9rem 1.6rem;
    width: 100%;
    border: none;
    border-radius: 20rem;
    &:focus {
        outline: none;
    }
}
