@mixin heading($font-size, $font-wei, $let-space) {
    font-size: $font-size;
    font-weight: $font-wei;
    letter-spacing: $let-space;
}

@mixin button($btn-bg-color, $btn-text-color, $font-size) {
    &:link,
    &:visited {
        font-size: $font-size;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        border-radius: 20rem;
        background-color: $btn-bg-color;
        color: $btn-text-color;
    }
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color: #000000,
        $alpha: 0.5);
    }
    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color: #000000,
        $alpha: 0.5);
    }
}
