.text-box {
    position: absolute;
    width: 70%;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
        font-size: 5.2rem;
        text-transform: uppercase;
        letter-spacing: 0.13rem;
    }
    div{
        p{
            font-size: 2.2rem;
            margin-top: 8rem;
            line-height: 1.5;
            span{
                @include gradiant();
            }
        }
    }
}

