.text-box {
    position: absolute;
    top: 37.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
        font-size: 5.2rem;
        text-transform: uppercase;
        letter-spacing: 0.13rem;
    }
}
.stats {
    @include grid(3);
    column-gap: 6rem;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    div {
        color: $textColor;
        text-align: center;
        font-size: 3rem;
        padding: 1.2rem;
        border-radius: 2px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        i {
            @include gradiant();
            font-size: 6rem;
            margin: 1.8rem;
        }
        p {
            margin: 1.2rem;
        }
    }
}
