$primaryBlue: #00205b;
$primaryRed: #ba0c2f;

$textColor: white;
$sec-text-color: #d0d0d0;

$main-dark: #0e0e0e;
$accent-dark:#101010;
$sec-dark: #121212;
$light-gray: #777;

$light-green:#7ed56f;
$dark-green:#28b485;
$light-sayan: #03dac5;

$G-gradiant: linear-gradient(to right, $light-green, $dark-green);

