@import "Variables";
@import "Mixins";
@import "Animations";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    body {
        font-family: "inter", sans-serif;
        font-weight: 400;
        color: $textColor;
        padding: 3rem;
        background: $main-dark;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 5px;
            background: #212121;
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: linear-gradient(to bottom, #7ed56f, #28b485);
        }
        section {
            padding: 12.8rem 10%;
        }
    }
}

// --- Header Section --- //
.header {
    height: 92vh;
    background-image: url(../Assets/Hero-img.jpg);
    background-size: cover;
    background-position: center;
    @include box-shadow();
    @import "Navigation";

    .header-text {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .heading-primary {
            color: $textColor;
            font-family: inherit;
            text-transform: uppercase;
            backface-visibility: hidden; // prevents an animated element from jumping upwards before the animation finishes
            margin-bottom: 6rem;
            .HP-main {
                display: block;
                @include heading(6rem, 700, 1.5rem);
                margin-bottom: 2rem;
                animation: moveinright 1000ms 200ms;
            }
            .HP-secondary {
                display: block;
                //@include heading(2rem, 700, 1.74rem);
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.4;
                letter-spacing: 0.8rem;
                animation: moveinleft 1000ms 200ms;
            }
        }
        a {
            @include button(white, $light-gray, 1.8rem);
            animation: moveinup 1000ms 200ms;
        }
    }
    @import "Page-header";
}

#section-a {
    background: $sec-dark;
    .sec-heading {
        @include primary-headig(3.5rem, 8rem);
    }
    #grid-container {
        @include grid(2);
        #text-box {
            h3 {
                @include sec-heading(1.8rem, 2rem);
            }
            p {
                font-size: 1.6rem;
                color: $sec-text-color;
                line-height: 1.6;
                margin-bottom: 3rem;
            }
            a {
                @include button($G-gradiant, $textColor, 1.6rem);
                display: inline-block;
                margin-top: 1.8rem;
            }
        }
        #img-box {
            position: relative;
            &:hover {
                // when the box is hovered scale down none hover chlid elements
                img:not(:hover) {
                    transform: scale(0.9);
                }
            }
            img {
                max-width: 55%;
                max-height: 53rem;
                position: absolute;
                border-radius: 2px;
                z-index: 3;
                transition: all 300ms ease-out;
                &:hover {
                    z-index: 10;
                    transform: scale(1.1);
                    @include box-shadow();
                }
                &:first-of-type {
                    left: 0;
                    top: -14rem;
                }
                &:last-of-type {
                    top: -4rem;
                    left: 22rem;
                }
            }
        }
    }
}

.section-z {
    // section a in tour pages
    background: $accent-dark;
    .stats {
        @include grid(4);
        column-gap: 3.2rem;
        div {
            height: 100%;
            color: $textColor;
            background: $dark-gray;
            @include box-shadow;
            text-align: center;
            padding: 1.2rem 3.2rem;
            border-radius: 2px;
            i {
                @include gradiant();
                font-size: 6rem;
                margin: 1.8rem;
            }
            p {
                font-size: 1.6rem;
                line-height: 1.4;
                margin-bottom: 1.8rem;
                span {
                    @include gradiant();
                }
            }
            .lable {
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }
}

#section-b {
    background: $accent-dark;
    text-align: center;
    padding: 12.8rem 5%;
    .sec-heading {
        @include primary-headig(3.5rem, 8rem);
    }
    .grid-container {
        @include grid(3);
        column-gap: 5rem;
        row-gap: 5rem;
        .tour-card {
            background: #212121;
            @include box-shadow();
            font-size: 1.6rem;
            border-radius: 2px;
            padding-bottom: 3.2rem;
            text-transform: uppercase;
            &__img {
                img {
                    width: 100%;
                    height: 20rem;
                    border-radius: 2px;
                }
            }
            &__title {
                @include primary-headig(inherit, 0rem);
                line-height: 1.6;
                letter-spacing: 1.2px;
                margin: 2.6rem;
                &:hover {
                    transform: none;
                }
            }
            &__features {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 1.6rem;
                margin: 2.4rem 0px;
                padding: 0px 10%;
                &__feature {
                    &:first-of-type {
                        font-size: 3.6rem;
                        font-weight: 700;
                    }
                }
            }
            &__button {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                a {
                    @include pri-and-sec-buttons();
                    &:link,
                    &:visited {
                        padding: 1.2rem 2.4rem;
                        margin: 1rem 0.8rem 0rem 0.8rem;
                    }
                }
            }
        }
    }
    a {
        @include button($textColor, $light-gray, 1.6rem);
        display: inline-block;
        margin-top: 8rem;
    }
}
#section-c {
    position: relative;
    background: $accent-dark;
    .grid-container {
        @include grid(2);
        column-gap: 0px;
        @include box-shadow();
        grid-template-columns: 1.8fr 1.2fr;
        background: $dark-gray;
        height: 70vh;
        font-size: 1.4rem;
        .img-box {
            background: linear-gradient(rgba(0, 0, 0, 0.75)), url("/Assets/form-img.jpg");
            background-size: cover;
            background-position: center;
            height: 100%;
            padding: 4rem;
            h3 {
                @include primary-headig(2.6rem, 0px);
                line-height: 1.3;
            }
            p {
                margin: 3.2rem 0px;
                line-height: 1.5;
                font-size: 1.6rem;
            }
        }
        .form-box {
            height: 100%;
            padding: 4rem;
            position: relative;
            font-size: 1.6rem;
            form {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .form--input {
                    label {
                        font-weight: 600;
                        margin-bottom: 1.2rem;
                    }
                    input {
                        @include form-input();
                    }
                }
                .form--check {
                    span {
                        margin-left: 0.6rem;
                    }
                }
            }
            #log-in-form {
                justify-content: flex-end;
                row-gap: 3.6rem;
            }
            .form--buttons {
                display: flex;
                justify-content: space-evenly;
                button {
                    margin-top: 1.8rem;
                    @include pri-and-sec-buttons();
                }
            }
            .form-hidden {
                visibility: hidden;
                pointer-events: none;
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
            }
            .animate-up {
                animation: fadeinup 900ms ease-out;
            }
            .animate-out {
                animation: fadeoutup 800ms ease-out;
                justify-content: flex-start;
            }
        }
    }
}

.section-d {
    padding: 12.8rem 6%;
    background: $sec-dark;
    h3 {
        @include primary-headig(3.6rem, 8rem);
    }
    @import "Review-section";
}
.section-f {
    background: $accent-dark;
    h3 {
        @include gradiant;
        text-transform: uppercase;
        font-size: 2.4rem;
        letter-spacing: 1.1;
        margin-bottom: 6.4rem;
        text-align: center;
    }
    .grid-container {
        @include grid(3);
        .img-container {
            @include box-shadow();
            overflow: hidden;
            background: black;
            img {
                width: 32rem;
                height: 24rem;
                transition: all 300ms ease-out;
                &:hover {
                    transform: scale(1.15);
                    cursor: pointer;
                }
            }
        }
    }
    .cta-box {
        text-align: center;
        margin-top: 9.6rem;
        .btns {
            a {
                @include pri-and-sec-buttons();
                font-size: 1.6rem;
                &:first-of-type {
                    margin-right: 2.4rem;
                }
            }
        }
    }
}
@import "Footer-style";
@import "Media-queries";