@import "Variables";
@import "Mixins";
@import "Animations";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    a {
        text-decoration: none;
        color: inherit;
    }
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    body {
        font-family: "lato", sans-serif;
        font-weight: 400;
        color: $textColor;
        padding: 3rem;
    }
}

        // --- Header Section --- //
#header {
    height: 95vh;
    background-image: $RB-gradiant, url(Assets/Hero-img.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);

    #text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        
        .heading-primary {
            color: #fff;
            text-transform: uppercase;
            backface-visibility: hidden; // prevents an animated element from jumping upwards before the animation finishes
            margin-bottom: 6rem;
            .HP-main {
                display: block;
                @include heading(6rem, 400, 3.5rem);
                margin-bottom: 2rem;
                animation: moveinright 1000ms 200ms; 
            }
            .HP-secondary {
                display: block;
                @include heading(2rem, 700, 1.74rem);           
                animation: moveinleft 1000ms 200ms;
            }
        }
        a{
            display: inline-block;
            @include button(white, $textColor, 1.8rem);
            font-weight: 600;
            animation: moveinup 1000ms 200ms;
        }
    }
}